/* CI Pipeline Dashboard - Main Stylesheet
 * This file imports all component stylesheets in the correct order.
 */

@import url('./variables.css');
@import url('./base.css');
@import url('./header.css');
@import url('./buttons.css');
@import url('./panels.css');
@import url('./controls.css');
@import url('./pipeline.css');
@import url('./events.css');
@import url('./summary.css');
@import url('./composer.css');
@import url('./plans.css');
@import url('./modal.css');
